.post-type-archive-team{
  .team-post-container{
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    grid-gap: 10px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
}