.team-member{
  display: flex;
  flex-direction: column;
  border: 1px #0c0c0c solid;
  border-radius: 10px;
  overflow: hidden;
  transition: all 300ms linear;
  &:hover{
    transform: scale(1.01);
  }
  .content-container{
    padding: 10px;
    .team-member-name{
      margin-bottom: 0;
      line-height: normal;
    }
    .team-member-position{
      margin-bottom: 5px;
      color: #737baf;
    }
    .team-member-email{
      margin-bottom: 8px;
      display: block;
      &:hover{
        color: #0c88b4;
      }
    }
    .team-member-linkedin{
      display: flex;
      color: black;
      font-weight: bold;
      gap: 10px;
      font-size: 18px;
      &:hover{
        color: #0c88b4;
        svg{
          path{
            fill: #0c88b4;
          }
        }
      }
    }
  }

}